body {
  padding-top: 70px; }
  body .hide {
    display: none !important; }

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../img/desk.jpg);
  z-index: -1; }

.transformTooltip {
  display: flex;
  width: 320px;
  position: absolute;
  background-color: #b7b7b7;
  height: 80px;
  align-items: center;
  bottom: 0; }
  .transformTooltip .tooltipBtn {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 10px 0; }
    .transformTooltip .tooltipBtn:hover {
      background-color: #adadad; }
    .transformTooltip .tooltipBtn img {
      display: block;
      margin: 0 auto;
      pointer-events: none; }

#absoluteWrapper {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 200px; }
  #absoluteWrapper .turn {
    text-align: center;
    position: relative;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: #b7b7b7;
    margin-bottom: 10px; }
    #absoluteWrapper .turnSpan {
      font-weight: bold; }
    #absoluteWrapper .turnSpan.white {
      color: white; }
    #absoluteWrapper .turnSpan.black {
      color: black; }
  #absoluteWrapper #history {
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    background-color: #b7b7b7; }
  #absoluteWrapper .historyPoint {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 24px; }
    #absoluteWrapper .historyPoint .figureImg {
      width: 30px;
      height: 30px; }
      #absoluteWrapper .historyPoint .figureImg.white {
        filter: invert(1); }

#boardWrapper {
  width: 640px; }

.gameWrapper {
  display: flex;
  width: 100%;
  margin-right: 100px; }

.menuWrapper {
  padding: 24px;
  background-color: #b7b7b7;
  border-radius: 12px;
  width: 500px; }
  .menuWrapper h3 {
    text-align: center; }
  .menuWrapper .newGameBtn {
    width: 50%;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #a8a8a8;
    border-radius: 10px;
    margin-bottom: 30px; }
    .menuWrapper .newGameBtn:hover {
      background-color: #999999; }
  .menuWrapper .emptySaveCage {
    box-sizing: border-box;
    height: 64px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px 0;
    background-color: #a8a8a8;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center; }
    .menuWrapper .emptySaveCage:hover {
      background-color: #999999; }
  .menuWrapper .save {
    box-sizing: border-box;
    height: 64px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: #a8a8a8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .menuWrapper .save:hover {
      background-color: #999999; }
    .menuWrapper .save .id {
      font-size: 24px; }
    .menuWrapper .save .deleteSaveBtn {
      border-radius: 8px;
      width: 32px;
      height: 32px;
      border: 1px solid black;
      background-color: #9a3939; }
      .menuWrapper .save .deleteSaveBtn img {
        width: 100%;
        height: auto; }
      .menuWrapper .save .deleteSaveBtn:hover {
        background-color: #612121; }

#content {
  display: flex;
  width: 60%;
  transition: 0.3s all ease;
  margin: 0 auto;
  gap: 36px;
  color: white; }
  #content .endGameModal {
    width: 50%;
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    background-color: #b7b7b7; }
    #content .endGameModal h3 {
      font-size: 36px; }
    #content .endGameModal p {
      font-size: 24px; }
    #content .endGameModal .btn {
      width: 50%;
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 15px;
      border: 1px solid black;
      border-radius: 8px;
      background-color: #a8a8a8; }
      #content .endGameModal .btn:hover {
        background-color: #8f8d8d; }

#content.flip .topIndex, #content.flip .botIndex {
  flex-direction: row-reverse; }

#content.flip .leftIndex, #content.flip .rightIndex {
  flex-direction: column-reverse; }

#content.flip #chessDesk {
  transform: rotate(180deg); }
  #content.flip #chessDesk .figure {
    box-sizing: border-box;
    padding-top: 10px;
    transform: rotate(180deg); }
    #content.flip #chessDesk .figure.active {
      top: 5px; }

#chessDesk {
  transition: all 0.3s ease;
  border: 1px solid black;
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr); }
  #chessDesk .line:nth-child(2n) .chessDeskCage:nth-child(2n) {
    background-color: #616161; }
  #chessDesk .line:nth-child(2n - 1) .chessDeskCage:nth-child(2n-1) {
    background-color: #616161; }
  #chessDesk .chessDeskCage {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    background-color: #b7b7b7; }
    #chessDesk .chessDeskCage.moveHighlight {
      box-shadow: 0 0 101px 100px rgba(0, 255, 19, 0.28) inset; }
    #chessDesk .chessDeskCage.takeHighlight {
      box-shadow: 0 0 101px 100px rgba(255, 0, 19, 0.28) inset; }
    #chessDesk .chessDeskCage:nth-child(2) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(4) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(6) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(8) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(9) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(11) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(13) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(15) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(18) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(20) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(22) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(24) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(25) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(27) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(29) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(31) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(34) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(36) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(38) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(40) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(41) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(43) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(45) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(47) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(50) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(52) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(54) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(56) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(57) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(59) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(61) {
      background-color: #616161; }
    #chessDesk .chessDeskCage:nth-child(63) {
      background-color: #616161; }
    #chessDesk .chessDeskCage .figure {
      width: 100%;
      height: 100%;
      padding-top: 10px; }
      #chessDesk .chessDeskCage .figure img {
        margin: 0 auto;
        display: block; }
    #chessDesk .chessDeskCage .figure.active {
      position: relative;
      bottom: 5px; }
    #chessDesk .chessDeskCage .figure.white {
      filter: invert(1); }

.topIndex {
  width: 100%;
  display: flex;
  justify-items: space-between;
  padding: 5px 0;
  flex-direction: row; }
  .topIndexLetter {
    width: 82px;
    text-align: center; }

.botIndex {
  width: 100%;
  display: flex;
  justify-items: space-between;
  flex-direction: row; }
  .botIndexLetter {
    width: 82px;
    text-align: center;
    padding: 5px 0; }

.leftIndex {
  display: flex;
  flex-direction: column;
  padding: 28px 5px; }
  .leftIndexNum {
    height: 80px;
    line-height: 80px; }

.rightIndex {
  display: flex;
  flex-direction: column;
  padding: 28px 5px; }
  .rightIndexNum {
    height: 80px;
    line-height: 80px; }
